@model FrontEnd.Models.updateBPKB

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateData" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="objBPKB.AgreementNumber" class="control-label"></label>
                <input asp-for="objBPKB.AgreementNumber" class="form-control" readonly value=@Model.objBPKB.AgreementNumber />
                <span asp-validation-for="objBPKB.AgreementNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.BranchId" class="control-label"></label>
                <input asp-for="objBPKB.BranchId" class="form-control" value=@Model.objBPKB.BranchId />
                <span asp-validation-for="objBPKB.BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.BpkbNo" class="control-label"></label>
                <input asp-for="objBPKB.BpkbNo" class="form-control" value=@Model.objBPKB.BpkbNo />
                <span asp-validation-for="objBPKB.BpkbNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.BpkbDateIn" class="control-label"></label>
                <input asp-for="objBPKB.BpkbDateIn" class="form-control" type="date" />
                <span asp-validation-for="objBPKB.BpkbDateIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.BpkbDate" class="control-label"></label>
                <input asp-for="objBPKB.BpkbDate" class="form-control" type="date" />
                <span asp-validation-for="objBPKB.BpkbDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.FakturNo" class="control-label"></label>
                <input asp-for="objBPKB.FakturNo" class="form-control" value=@Model.objBPKB.FakturNo />
                <span asp-validation-for="objBPKB.FakturNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.FakturDate" class="control-label"></label>
                <input asp-for="objBPKB.FakturDate" class="form-control" type="date" />
                <span asp-validation-for="objBPKB.FakturDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objBPKB.PoliceNo" class="control-label"></label>
                <input asp-for="objBPKB.PoliceNo" class="form-control" value=@Model.objBPKB.PoliceNo />
                <span asp-validation-for="objBPKB.PoliceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Location">Select Location</label>
                @Html.DropDownListFor(model => model.objBPKB.LocationId, Model.Locations, "Select Location", new { @class = "form-control" })
                <span asp-validation-for="Locations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
